{% extends 'base.html' %}

{% block content %}

<div class="container">
			<div class="alert alert-primary" role="alert">
				<center><h2><b style="color: blue">BOT TRADING</b></h2></center>
			</div>
</div>
<div class="container">



	<div class="row">

		<div class="col-4">
		
			<div class="card">
				<div class="card-body">
								<img src="static/image/bot.png"  style="width:50px;">	
								<center><h2 style="color: blue">Hexa BOT</h2></center>
								<h2>Deposit(Min) </h2>
								<p>
									<strong>100$</strong>
								</p>

								<h2>Monthly profit</h2>
								<p>
									<strong>110$</strong>
								</p>
				</div>
			</div>
								
		</div>
		<div class="col-4">
		
					<div class="card">
						<div class="card-body">
							<img src="static/image/bot1.png"  style="width:50px;">
							<center><h2 style="color: blue">Chain BOT</h2></center>
							<h2>Deposit(Min) </h2>
							<p>
								<strong>1000$</strong>
							</p>

							<h2>Monthly profit</h2>
							<p>
								<strong>1500$</strong>
							</p>
						</div>
				
					</div>
		</div>

		<div class="col-4">
			<div class="card">
				<div class="card-body">
					<img src="static/image/bot2.png"  style="width:50px;">
					<center><h2 style="color:blue">Pro BOT</h2></center>
					<h2>Deposit(Min) </h2>
					<p>
						<strong>10000$</strong>
					</p>

					<h2>Monthly profit</h2>
					<p>
						<strong>12000$</strong>
					</p>
			
				</div>
				
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-4 mb-4">

			

		</div>
	</div>
	<div class="row" >
		<div class="col-4 ">

			
				
				<center><a class="btn btn-primary"  href="{%url 'exchange'%}">Exchange</a></center>
				
			

		</div>

		<div class="col-4">
				
				<center><a class="btn btn-primary"  href="{%url 'exchange'%}">Exchange</a></center>
			
		</div>

		<div class="col-4">
			
				<center><a class="btn btn-primary"  href="{%url 'exchange'%}">Exchange</a></center>
		</div>

		

		

		


</div>


{% endblock %}