{% extends 'base.html' %}

{% block content %}

<div class="container">
			<div class="alert alert-primary" role="alert">
				<center><h2><b style="color: blue">Choose Exchange</b></h2></center>
			</div>
</div>
<div class="container">



	<div class="row">

		<div class="col-4">
		
			<div class="card">
				<div class="card-body">
								<img src="static/image/poloniex.png"  style="width:200px;">	
								
								<h2 style="color: blue">Poloniex is a US-based digital asset exchange offering maximum security and advanced trading features.</h2>
								<p>
									Since 2014, we’ve been dedicated to giving traders and hodlers a safe place to trade and store cryptocurrencies like BTC, ETH and the best altcoins on the market.
								</p>

								
				</div>
			</div>
								
		</div>
		<div class="col-4">
		
					<div class="card">
						<div class="card-body">
							<img src="static/image/bittrex.png"  style="width:132px;">
							<h2 style="color:blue">Bittrex is a global leader in the blockchain revolution</h2>
							<p>
								Every digital asset listed on the Bittrex International platform is not only available to our international customers, but these assets are also available to our network of international partner exchanges to launch increasing the adoption of this innovative technology around the world. 
							</p>
						</div>
				
					</div>
		</div>

		<div class="col-4">
			<div class="card">
				<div class="card-body">
					<img src="static/image/binance.png"  style="width:115px;">
					<h2 style="color:blue">World's leading cryptocurrency exchange,Binance spans an entire ecosystem</h2>
					<p>
						Binance Adjusts Tiered Trading Fee Discount Program of 14-Day Fixed Term BNB, USDT and ETC Lending Products Fully Subscribed on Binance Lending.
					</p>
					
				
			
				</div>
				
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-4 mb-4">

			

		</div>
	</div>
	<div class="row" >
		<div class="col-4 ">

			
				
				<center><a class="btn btn-primary"  href="{%url 'logo'%}">Finance</a></center>
				
			

		</div>

		<div class="col-4">
				
				<center><a class="btn btn-primary"  href="{%url 'logo'%}">Finance</a></center>
			
		</div>

		<div class="col-4">
			
				<center><a class="btn btn-primary"  href="{%url 'logo'%}">Finance</a></center>
		</div>

		

		

		


</div>


{% endblock %}