{% extends 'base.html' %}

{% block content %}

    
<div class="alert alert-dark" role="alert">
      <span style="font-size:30px;"><center>Market Trading</span> <span style="font-size:15px;">
</div>
        
 <div class="list-group">
            
       <div class="list-group-item list-group-item-primary">
                <div class="row">
                    <div class="col-md-2">
                        <label>Name</label>
                    </div>
                    <div class="col-md-2">
                        <label>USD Price</label>
                    </div>
                    <div class="col-md-2">
                        <label>BTC Price</label>
                    </div>
                    <div class="col-md-2">
                        <label>Lastprice</label>
                    </div>
                    <div class="col-md-2">
                        <label>Volume USD</label>
                    </div>
                    <div class="col-md-2">
                        <label>Change in Last Hour</label>
                    </div>
                
				</div>
		</div>            
            {% for coin in crypto_data %}
            <div class="list-group-item list-group-item-{% if coin.percent_change_1h.0 == '-'%}danger{% else %}success{% endif %}">
                <div class="row">
                    <div class="col-md-2">
                        {{coin.name}}
                    </div>
                    <div class="col-md-2">
                        {{coin.price_usd}}
                    </div>
                    <div class="col-md-2">
                        {{coin.price_btc}}
                    </div>
                    <div class="col-md-2">
                        {{coin.last_updated}}
                    </div>
                    <div class="col-md-2">
                        {{coin.24h_volume_usd}}
                    </div>
                    <div class="col-md-2">
                        {{coin.percent_change_1h}}
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
</div>


{% endblock %}