{% extends 'base.html' %}

{% block content %}

<div class="container">
			<div class="alert alert-primary" role="alert">
				<center><h2><b style="color: blue">Choose Which Assets to Trade</b></h2></center>
			</div>
</div>
<div class="container">



	<div class="row">

		<div class="col-4">
		
			<div class="card">
				<div class="card-body">
								<img src="static/image/bitx.png"  style="width:50px;">
								<center><a>BitCoin</a></center>	
								
				</div>
			</div>
								
		</div>
		<div class="col-4">
		
					<div class="card">
						<div class="card-body">
							<img src="static/image/dash.png"  style="width:50px;">
							<center><a>Dash</a></center>
							
						</div>
				
					</div>
		</div>

		<div class="col-4">
			<div class="card">
				<div class="card-body">
					<img src="static/image/eth.png"  style="width:50px;">
					<center><a>Ethereum</a></center>
				</div>
				
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-4 mb-4">

			

		</div>
	</div>
	<div class="row" >
		<div class="col-4 ">

			
				
				<center><a class="btn btn-primary"  href="{%url 'index'%}">Trade</a></center>
				
			

		</div>

		<div class="col-4">
				
				<center><a class="btn btn-primary"  href="{%url 'index'%}">Trade</a></center>
			
		</div>

		<div class="col-4">
			
				<center><a class="btn btn-primary"  href="{%url 'index'%}">Trade</a></center>
		</div>

		

		

		


</div>


{% endblock %}